*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.kotlin/errors
/split-debug-info/*.txt
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
